@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ydqi0f');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?ydqi0f#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ydqi0f') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ydqi0f') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ydqi0f##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-atom {
  &:before {
    content: $icon-atom; 
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-coin {
  &:before {
    content: $icon-coin; 
  }
}
.icon-chat {
  &:before {
    content: $icon-chat; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-linkedin-square {
  &:before {
    content: $icon-linkedin-square; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-paper-plane {
  &:before {
    content: $icon-paper-plane; 
  }
}
.icon-bug {
  &:before {
    content: $icon-bug; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-database {
  &:before {
    content: $icon-database; 
  }
}
.icon-chart {
  &:before {
    content: $icon-chart; 
  }
}
.icon-wifi-hotspot {
  &:before {
    content: $icon-wifi-hotspot; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-activity {
  &:before {
    content: $icon-activity; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}

