$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-mail: "\e900";
$icon-atom: "\e901";
$icon-cloud: "\e902";
$icon-heart: "\e903";
$icon-coin: "\e904";
$icon-chat: "\e905";
$icon-github: "\e906";
$icon-linkedin-square: "\e907";
$icon-instagram: "\e908";
$icon-refresh: "\e909";
$icon-filter: "\e90a";
$icon-paper-plane: "\e90b";
$icon-bug: "\e90c";
$icon-arrow-up: "\e90d";
$icon-arrow-right: "\e90e";
$icon-arrow-left: "\e90f";
$icon-arrow-down: "\e910";
$icon-check-circle: "\e911";
$icon-database: "\e912";
$icon-chart: "\e913";
$icon-wifi-hotspot: "\e914";
$icon-check: "\e915";
$icon-activity: "\e916";
$icon-twitter: "\ea96";

