$base-font: "DM Sans", sans-serif;
$icomoon-font-path: "@/assets/icomoon/fonts";

// -----
// -----

$black: #000;
$white: #fff;

$black2: #2a2541;
$black3: #111013;
$black4: #101012;
$black5: #352541;
$black6: #413025;

$purple1: #7f5eff;
$purple2: #7855ff;
$purple3: #ebe6ff;
$purple4: #dfd7ff;
$purple5: #a072ee;
$purple6: #7955ff;
$purple7: #ae70ff;
$purple8: #957aff;
$purple9: #8963ff;
$purple10: #c5b6ff;

$darkPurple1: #43347f;

$grey1: #e8e3fd;
$grey2: #413f48;
$grey3: #666572;
$grey4: #e3e3e3;
$grey5: #878788;
$grey6: #a1a0a3;
$grey7: #e8e2ff;
$grey8: #e7e7e7;
$grey9: #b2b2b8;

$pink1: #e363b2;
$pink2: #e563b0;
$pink3: #ea80ff;
$pink4: #e76fd1;

$peach1: #ffcbad;
